body{
    background-color:#00a2e8;
    font-size: 17px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

.banner{
    width: 100%;
    height: auto;
}

.kluczyki img{
    width:80%;
    height: auto;
    margin: auto;
    margin-top:12px;    
    display: block;
}

h1,h2,h3,h4,h5,h6,p{
    margin-left:12px;
    margin-right:12px;
}

.kluczyki figcaption
{ 
	text-align: center;
    font-size: 12px;;
}

.kluczyki img{
    max-width:312px;
}

.nav-link{
    font-size: large;
}

.first-page p{
    width:100%;
    margin-top:12px;
}

.first-page img{
    max-width: 312px;
}

.row-item{
    padding-top: 16px;
}

@media screen and (max-width: 768px){
    .show-hide  { display:none; }
}

@media only screen and (max-width: 768px){
    .row-item { border:3px solid red; border-radius: 15px;}
}


/* strona kontakt.html */

.box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: none;
}

.box {
    margin-top:26px;
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
@media only screen and (max-width: 768px){
    .address{
        font-size: 10px;
    }
    .address h3{
        font-size:20px;
    }
}